@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

body {
    text-align: center;
    font-family: 'Press Start 2P', sans-serif;
    background-image: url("../images/background-11.png");
    background-repeat: round;
}

/* Menu */
.menu {
    width: 808px;
    height: 60px;
    margin: 0 auto;
    padding-top: 30px;
    text-align: left;
    font-size: 50px;
}

.lives,
.gems {
    vertical-align: top;
    font-family: 'Press Start 2P', sans-serif;
}

.items {
    float: left;
    width: 20%;
}

canvas {
  position: relative;
  /*height: 100%;
  width: 100%;*/
}

button {
  position: absolute;
  color: white;
  font: 18pt verdana;
  text-align: center;
  z-index: 5;
  box-shadow: 5px 5px 5px black;
  width: 175px;
  height: 45px;
  border-radius: 5px;
  cursor: pointer;
}

@-webkit-keyframes wiggle {
	0% {
		-webkit-transform:rotate(4deg);
	}
	50% {
		-webkit-transform:rotate(-4deg);
	}
	100% {
		-webkit-transform:rotate(4deg);
	}
}

.wiggle {
	-webkit-animation: wiggle 2.0s infinite;
}

.easy{
  top: 514px;
  left: 342px;
  background: #285c1c;
}
.easy.active {
  background: #57c63f;
}
.medium {
  top: 514px;
  left: 582px;
  background: #856e32;
}
.medium.active {
  background: #ffcf0c; //#f6cd5c
}
.hard {
  top: 514px;
  left: 822px;
  background: #6b1e1e;
}
.hard.active {
  background: #cd4d32; //#d73e3e
}
